<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" staticCompressionDisableCpuUsage="95" dynamicCompressionDisableCpuUsage="90">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes><add mimeType="text/*" enabled="true"/><add mimeType="application/javascript" enabled="true"/><add mimeType="application/json" enabled="true"/><add mimeType="*/*" enabled="false"/></dynamicTypes>
      <staticTypes><add mimeType="text/*" enabled="true"/><add mimeType="application/javascript" enabled="true"/><add mimeType="application/json" enabled="true"/><add mimeType="image/svg+xml" enabled="true"/><add mimeType="*/*" enabled="false"/></staticTypes>
    </httpCompression>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" cacheControlCustom="public" />
      <remove fileExtension=".webp"/><mimeMap fileExtension=".webp" mimeType="image/webp"/>
    </staticContent>
    <httpProtocol><customHeaders><remove name="Vary"/><add name="Vary" value="Accept-Encoding"/></customHeaders></httpProtocol>
  </system.webServer>
  <location path="data">
    <system.webServer>
      <staticContent><clientCache cacheControlMode="DisableCache" /></staticContent>
      <httpProtocol><customHeaders><remove name="Cache-Control"/><add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0"/></customHeaders></httpProtocol>
    </system.webServer>
  </location>
</configuration>
