<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, private" />
        <add name="Pragma" value="no-cache" />
        <add name="X-Robots-Tag" value="noindex, nofollow, noarchive" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
